:root {
    --white: #fff;
    --black: #000;
    --red: #f00;
    --gray: rgb(148, 146, 146);
    --gray-light: rgb(199, 199, 199);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header {
    background-color: var(--black);
    color: var(--white);
}
.container {
    width: 80%;
    margin:  auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h1 {
    font-size: 20px;
    text-transform: uppercase;
}
.menu-header ul {
    display: flex;
    gap: 20px;
}
.menu-header ul li a {
    color: var(--white);
    font-size: 12px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-header ul li a:hover {
    color: var(--red);
    transition: 0.5s;
}
.icons ul {
    display: flex;
    gap: 20px;
}

/*BANNER*/

.banner {
    background-image: url('img/banner-principal.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
}
.content-banner {
margin-right: auto;
margin-bottom: 10%;
width: 19%;
}
.content-banner h1 {
    font-size: 100px;
    color: var(--white);
    text-transform: uppercase;
}
.content-banner p {
    font-size: 20px;
    color: var(--white);
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content-banner button {
    padding: 10px 20px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.content-banner button:hover {
    background-color: var(--white);
    color: var(--red);
    transition: 0.5s; 
}

/*PRODUTOS*/

.destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.destaques h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin: 25px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--black);
}
.destaques span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 25px 0;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--red);
    cursor: pointer;
}
 
.wrappers {
    border: 1px solid var(--gray-light);
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(to bottom, var(--white)60%, var(--gray) );
    margin-bottom: 25px;
}
.wrappers p {
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}
.wrappers button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.wrappers button:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s; 
}

/*OFERTAS*/

.ofertas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79%;
    margin: auto;
    border: 1px solid var(--gray-light);
    border-radius: 5px;
    background: linear-gradient(to right, var(--black)50%, var(--red) );
}
.ofertas p {
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 10px;
    margin-top:5px;
}
.ofertas span {
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}
.ofertas button {
    padding: 5px 10px;
    background-color: var(--white);
    color: var(--red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 19px;
    margin-top:5px;
}
.ofertas button:hover {
    background-color: var(--red);
    color: var(--white);
    transition: 0.5s; 
}



/*GÊNERO*/

.genero {
    display: flex;
    padding-left: 10.5%;
    gap: 10px;
    margin-top: 20px;
}
.card {
    border: 1px solid var(--gray-light);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}
.masculino {
    background-image: url('img/banner-masculino.png');
    background-size: cover;
    background-position: center;
    height: 380px;
    width: 325px;
}
.feminino {
    background-image: url('img/banner-feminino.png');
    background-size: cover;
    background-position: center;
    height: 380px;
    width: 325px;
}

.infantil {
    background-image: url('img/banner-infantil.png');
    background-size: cover;
    background-position: center;
    height: 380px;
    width: 325px;
}  

.overlay h2 {
    font-size: 20px;
    color: var(--white);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
}
.overlay p {
    font-size: 12px;
    color: var(--white);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay p:hover {
    color:#f00
}

.feminino p:hover {
    color: var(--black);
}

.infantil h2 {
    color:var(--black)
}
.infantil p {
    color: var(--black)
}
